html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(../img/accueil.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

table, dl, .row {
    backdrop-filter: blur(5px);
    background-color: rgba(250, 250, 250, 0.3); /* Arrière-plan noir avec une opacité de 50% */
    padding: 10px;
    border-radius: 1.3rem 1.3rem 0 0;
}

h1, h2, h3, h4, h5, h6, p, a, span, div, li, td, th {
    color: white;
}