@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 text-white">Bienvenue sur notre site de gestion des élèves de l'EPSI !</h1>
    <h2 class="text-white">Vous pourrez assurer la bonne gestion de notre école.</h2>
</div>
